* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
}

/* LAYOUT */
.container {
  display: flex;
  min-height: 100vh;
}

/* MENU */
.sidebar {
  width: 260px;
  background: #000;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.search {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-bottom: 20px;
}

.sidebar nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
}

/* CONTEÚDO */
.content {
  flex: 1;
  background: #f2f2f2;
}

/* BANNER */
.banner img {
  width: 100%;
  display: block;
}

/* FAIXA */
.info {
  background: #000;
  color: #0f0;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

/* PRODUTOS */
.produtos {
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  height: 260px;
  background: #fff;
  border-radius: 10px;
}
