* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  color: #ff2b55;
  font-size: 24px;
  font-weight: bold;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
}

.hero-texto {
  max-width: 500px;
}

.hero-texto h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

.hero-texto p {
  color: #ccc;
  margin-bottom: 30px;
}

.botao {
  background: #5865f2;
  color: #fff;
  padding: 14px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.hero-img {
  width: 420px;
}
.produtos {
  padding: 60px;
}

.produtos h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #111;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  max-height: 160px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #bbb;
  font-size: 14px;
  margin-bottom: 10px;
}

.card span {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.buy {
  display: inline-block;
  background: #5865f2;
  padding: 10px 22px;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}


